---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
---

<header class="sticky top-0 z-40">
  <div class="border-b bg-white/70 py-3 backdrop-blur-2xl">
    <nav class="container grid grid-cols-3 items-center">
      <a href="/">
        <span class="sr-only">Logo</span>
        <Logo />
      </a>
      <span
        class="flex justify-center text-sm text-gray-900"
      >
        [menu]
    </span>
      <div class="justify-self-end">
        <CartIcon client:load />
      </div>
    </nav>
  </div>
</header>
