---
import type { z } from "zod";
import type { ProductResult } from "../utils/schemas";

import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: z.infer<typeof ProductResult>;
}
const { product } = Astro.props as Props;
---

<a
  href={`/products/${product?.handle}`}
  class="group overflow-hidden shadow hover:shadow-md"
>
  <div class="relative">
    <ShopifyImage
      classList="border border-black"
      loading="eager"
      image={product?.featuredImage}
      sizes={`
      (min-width: 1540px) 348px,
      (min-width: 1280px) 284px,
      (min-width: 1040px) 309px,
      (min-width: 780px) 348px,
      (min-width: 640px) 284px,
      calc(100vw - 48px)
    `}
    />
    <div
      class="absolute inset-0 z-10 grid items-end justify-items-center opacity-0 transition-all group-hover:bg-black/10 group-hover:opacity-100"
    >
      <button class="button w-full gap-3 flex bg-transparent justify-between py-3 px-2">
        <span>{product?.title}</span>
        <span> <Money price={product?.variants.nodes[0].priceV2} /></span>
      </button>
    </div>
  </div>
</a>
